# Extra requirements for CLIP from OpenAI
ftfy==6.3.1
wcwidth==0.2.14

# Extra requirements for FaRL from Microsoft
ipywidgets==8.1.8
validators==0.35.0
requests==2.32.5

# Links to the repos of extra requirements
git+https://github.com/openai/CLIP.git
git+https://github.com/FacePerceiver/facer.git
